
body {
    
    background-image: url("images/yummy.jpg");
}

#menuBG{
  text-align: center;
}

h1 {
  margin:0 0px 0 0px; 
  color:Red; 
  border-style: double; 
  border-radius: 5px; 
  background-color:rgb(252, 247, 0);
}

h2{
  color:green;
  font-size: 160%;
}

h3{
  color:rgb(32, 82, 218); 
}


<h2>Size</h2>
<h2>Add a border to a table:</h2>

<table>
  <tr>
    <th>Size</th>
  </tr>
  <tr>
    <td>Personal Pizza</td>
  </tr>
  <tr>
    <td>Medium Pizza</td>
  </tr>
  <tr>
	<td>Large Pizza</td>
  </tr>
  <tr>
	<td> Extra Large Pizza</td>
  </tr>
  
</table>

